# Django
*.log
local_settings.py

# Distribution / packaging
*.egg
*.egg-info/
dist/

# Environment
.env
.python-version
.venv/
venv/

# Python
*.py[cod]
__pycache__/

# Testing
.cache
.coverage
.coverage.*
.tox/
coverage.xml
htmlcov/
